#services:
#  eureka-server:
#    build: ./eureka-server
#    container_name: eureka-server
#    ports:
#      - "8761:8761"
#    environment:
#      - SPRING_PROFILES_ACTIVE=docker
#    healthcheck:
#      test: ["CMD", "curl", "-f", "http://localhost:8761/actuator/health"]
#      interval: 10s
#      timeout: 5s
#      retries: 5
#
#  service-a:
#    build: ./servicea
##    container_name: service-a
#    ports:
#      - ":8081"
#    depends_on:
#      eureka-server:
#        condition: service_healthy
#    environment:
#      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
#      - SPRING_PROFILES_ACTIVE=docker
#    healthcheck:
#      test: ["CMD", "curl", "-f", "http://localhost:8081/actuator/health"]
#      interval: 10s
#      timeout: 5s
#      retries: 5
#
#  service-b:
#    build: ./serviceb
##    container_name: service-b
#    ports:
#      - ":8082"
#    depends_on:
#      eureka-server:
#        condition: service_healthy
#    environment:
#      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
#      - SPRING_PROFILES_ACTIVE=docker
#    healthcheck:
#      test: ["CMD", "curl", "-f", "http://localhost:8082/actuator/health"]
#      interval: 10s
#      timeout: 5s
#      retries: 5
#
#networks:
#  default:
#    name: lab4_net
