server:
  port: 8082

spring:
  application:
    name: service-b
  main:
    banner-mode: off

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-server:8761/eureka/
    registerWithEureka: true
    fetchRegistry: true
  instance:
    preferIpAddress: true

logging:
  level:
    root: ERROR
    org.springframework: ERROR
    org.apache: ERROR
    com.netflix: ERROR
    org.springframework.cloud: ERROR
